<!DOCTYPE html>
<html lang="zh">

<head>
    {{ partial "head.html" . }}
    <title>{{.Title}} - {{ .Site.Title }}</title>
</head>

<body>
    {{ partial "header.html" . }}
    <div id="post" class="post">
        <header>
            <h2 class="post-title">{{ .Title }}</h2>
            {{ if .Params.featuredImage }}
                <img src="{{ .Params.featuredImage }}" alt="{{ .Title }}" class="featured-image">
            {{ end }}
        </header>
        <article class="article">
                <div class="single-content">
                    {{.Content}}
                </div>
            <br />
        <div>
                {{with .NextInSection}}
                <a href="{{.Permalink}}" class="prev">前一页</a>
                {{end}}
                {{with .PrevInSection}}
                <a href="{{.Permalink}}" class="next">后一页</a>
                {{end}}
            </div>
        </article>
    </div>

    <nav class="footer-nav">
        <ul>
            {{ range .Site.Menus.foot }}
            <li><a href="{{.URL}}">{{.Name}}</a></li>
            {{ end }}
        </ul>
    </nav>
    {{ partial "footer.html" . }}
</body>

</html>