<!DOCTYPE html>
<html lang="zh">

<head>
    {{ partial "head.html" . }}
    <title>网站首页</title>
</head>

<body>
    {{ partial "header.html" . }}

        <!-- <h2> 所有的文章列表 </h2> -->
    <div class="post">
        {{ $paginator := .Paginate (where .Site.RegularPages "Type" "in" .Site.Params.mainSections) }}
        {{ range $paginator.Pages }}
        <div class="list">
            <a href="{{.Permalink}}">
                {{ .Title }}
            </a>
            <span>
                {{ .Date.Format "2006-01-02" }}
            </span>
        </div>
        {{ end }}
        {{ if gt $paginator.TotalPages 1 }}
        <nav class="pagination">
            {{ with $paginator.Prev }}
            <a href="{{ .URL }}" class="prev"></a>
            {{ end }}
            <span class="current-page">{{ .Paginator.PageNumber }} of {{ .Paginator.TotalPages }}</span>
            {{ with $paginator.Next }}
            <a href="{{ .URL }}" class="next"></a>
            {{ end }}
        </nav>
        {{  end  }}
    </div>

<!-- 
    <h2> 页脚导航菜单 </h2> -->

    <nav class="footer-nav">
        <ul>
            {{ range .Site.Menus.foot }}
            <li><a href="{{.URL}}">{{.Name}}</a></li>
            {{ end }}
        </ul>
    </nav>
    {{ partial "footer.html" . }}
</body>

</html>